numpy
pandas
scikit-learn
scikit-image
matplotlib
tensorflow-macos
# tensorflow
# tensorflow-metal
opencv-python
opencv-contrib-python
Jupyter
setuptools
seaborn
spacy
Pillow
# pytorch
# torchvision
nibabel
tifffile
split_folders
# segmentation_models_3D
PyWavelets